<div class="product-container">
  <ng-container *ngFor="let product of products | async">
    <ng-container *ngIf="product">
      <div class="product-container-item">
        <div class="product-item-img">
          <img [src]="product?.image || ''" alt="" />
        </div>
        <div class="product-item-name">
          {{ product?.name || "" }}
        </div>
        <div class="product-item-price">
          {{ product?.price || "" }}
        </div>
        <div>
          <input type="text" [(ngModel)]="count" />
        </div>
        <div>
          <button (click)="handleAddToCart(product || '')">Mua ngay</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<button (click)="forkSetToken()">fork set token</button>
